.primary-color {
  color: #783efd;
}
.secondary-color {
  color: #8a8b9f;
}
.bg-dash {
  background: #f3f5fa;
}
.bg-primary {
  background-color: #783efd;
}
.btn-primary {
  background-color: #783efd;
  padding: 10px 25px;
  color: #fff;
}
.cust-input {
  border-radius: 5px;
  background: transparent;
  border: 1px solid #e1e1e9;
  padding-left: 5px;
  font-size: 14;
  margin-top: 2px;
}
.cust-input:focus {
  background: #fff;
  border: 1px solid #783EFD;
  outline: none;
}
.cust-select-input{
    width : 100%;
    padding: 2px 0;
}
